$white: #fff;

$device-phone-width: 600px;
$device-tablet-width: 768px;
$device-laptops-width: 992px;
$device-xl-screen: 1200px;

$list-width: 940px;
$article-width: 760px;

$font-xxl: 48px;
$font-xl: 32px;
$font-large: 24px;
$font-text: 18px;
$font-normal: 16px;
$font-xs: 12px;

$light-bg: $white;
$light-text: #20201e;
$light-caption-text: #83837c;
$light-accent-blue: #073b4c;
$light-accent-red: #ea526f;
$light-accent-olive: #4a7856;
$light-text-highlight: #c3e7ed;

$dark-bg: #191019;
$dark-text: rgb(210, 210, 210);
$dark-accent-green: #0b6e4f;
